<h2>
  Delete Item
</h2>

<h3 *ngIf="deleted">
  {{deleteSuccess}}
</h3>

<form id="deleteItem"
      #data = "ngForm"
      (ngSubmit) = "deleteItem(data.value)">

      <label>ID</label>
      <input type="text"
              name="id"
              placeholder="ID for item to be deleted"
              required ngModel> <br> <br>

      <button type="submit"
              name="deleteButton">
                Delete
      </button>

      <button type="button"
              name="backButton"
              routerLink = "/"
              >Back
      </button>

</form>
